@{
    ViewBag.Title = "Welcome!";
}

<div class="jumbotron">
    <h1>Patrick's Four Question Extravoganza</h1>
    <p class="lead">
        Here you will find all the answers you seek... so long those answers are any of the answers to the four predefined questions to follow. These can help any screener looking to get some basic information about me as an applicant.
        <br />
        <br />
        When you're ready to begin, press START.
    </p>
</div>

<div class="row" style="float: right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Questions", "Home")'">Start!</button>
</div>

<br />
<br />